#mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#brandImage {
    width: 100%;
    margin-left: none;
    margin-right: none;
    padding: 2%;
    height: 350px;
}

#brandImage img {
    width: 100%;
    height: 100%;
}

#brandTitle {
    width: 100%;
    font-size: 2em;
    font-family: magneto, papyrus;
    color: rgb(233, 112, 26);
    padding: 2%;
}

#brandProductsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#brandsContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 8.875em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

a {
    text-decoration: none;
}