* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, rgba(250, 249, 249, 0), rgb(240, 143, 46), rgba(248, 235, 222, 0));
}


/*Reset Password*/

.reset {
    box-shadow: 1px 1px 5px rgb(46, 43, 43);
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}

#title {
    margin-top: 5%;
    margin-bottom: 4%;
    padding: 2%;
    text-transform: uppercase;
}

#passwordField {
    width: 80%;
    padding: 2%;
    margin: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(233, 153, 5);
    background-color: transparent;
    outline: none;
    resize: none;
}

.resetBtn {
    margin-top: 5%;
    padding: 4%;
    border: none;
    background-color: rgb(231, 134, 7);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resetBtn:hover {
    transform: scale(1.2, 1.2);
}